* {margin: auto;}

#banner {
	background: url("../images/tban.jpg") repeat center center;
}

#middle_con {
	width: 80%;
	height: 303px;
	margin-top: 30px;
}
#left_img {
	width: 38%;
	height: 100%;
	float: left;
}
#right_con {
	width: 32%;
	height: 100%;
	float: left;
	margin-left: 100px;
}
#con_title {
	margin-top: 50px;
}
#right_con span {
	font-size: 14px;
	font-family: 宋体;
	margin-top: 10px;
}
#tishi {
	color: darkseagreen;
	text-align: center;
	margin-top: 40px;
}
#lx_form {
	width: 80%;
	height: 450px;
}
#lx_form p {
	margin-top: 10px;
	margin-bottom: 3px;
}
#lx_form span {
	color: red;
}
.txt {
	width: 30.1%;
	height: 30px;
	line-height: 30px;
}
#lx_form select {
	width: 93%;
	height: 30px;
	line-height: 30px;
}
#lx_form textarea {
	width: 93%;
	height: 100px;
}
#radio2 {
	margin-left: 50px;
}
#sub {
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: white;
	border: 1px solid palegreen;
	background-color: darkseagreen;
}
#sub:hover {
	cursor: pointer;
}
